# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
dados_anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
indice_ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
alteração = pd.Series(data=dados_anomalia)
alteração

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# seu código aqui
alteração = pd.Series(data= dados_anomalia, index = indice_ano)
alteração

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temp = pd.Series(dic_temperaturas)
serie_temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [14]:
arr = np.random.normal(100, 10, (20,3))
# seu código aqui
arr_df = pd.DataFrame(arr)
arr_df

             0           1           2
0   100.529844  105.631744   98.081917
1   101.136333  109.870480   89.757683
2   114.403199  104.429194   81.965329
3    96.254102  101.240284   97.335175
4   108.558943  118.329452  113.352563
5   103.737092   94.921015   96.939864
6    96.559624   94.219490  101.095476
7   124.160648   89.947654   88.653446
8   122.527762  102.494902   90.423746
9   102.836486   90.729030  103.419225
10  105.313021   97.417152   96.143035
11   99.582738  115.129514  108.522012
12  100.067526  105.980068  104.514770
13  105.828003   93.230840   99.993937
14   99.105009  103.343536   96.109645
15  107.895363  101.556948  100.344053
16   98.275846  113.010374  102.165064
17  104.738358   97.518966  102.182576
18   99.307212   94.832709   84.993326
19   84.042210  101.337401   94.717019

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [21]:
#seu código aqui
indice = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
arr_df = pd.DataFrame(arr,index=indice, columns=['x1','x2','x3'])
arr_df

            x1          x2          x3
1   100.529844  105.631744   98.081917
2   101.136333  109.870480   89.757683
3   114.403199  104.429194   81.965329
4    96.254102  101.240284   97.335175
5   108.558943  118.329452  113.352563
6   103.737092   94.921015   96.939864
7    96.559624   94.219490  101.095476
8   124.160648   89.947654   88.653446
9   122.527762  102.494902   90.423746
10  102.836486   90.729030  103.419225
11  105.313021   97.417152   96.143035
12   99.582738  115.129514  108.522012
13  100.067526  105.980068  104.514770
14  105.828003   93.230840   99.993937
15   99.105009  103.343536   96.109645
16  107.895363  101.556948  100.344053
17   98.275846  113.010374  102.165064
18  104.738358   97.518966  102.182576
19   99.307212   94.832709   84.993326
20   84.042210  101.337401   94.717019

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [22]:
# seu código aqui
arr_df['media'] = (arr_df['x1'] + arr_df['x2'] + arr_df['x3'])/3
arr_df

            x1          x2          x3       media
1   100.529844  105.631744   98.081917  101.414502
2   101.136333  109.870480   89.757683  100.254832
3   114.403199  104.429194   81.965329  100.265907
4    96.254102  101.240284   97.335175   98.276520
5   108.558943  118.329452  113.352563  113.413653
6   103.737092   94.921015   96.939864   98.532657
7    96.559624   94.219490  101.095476   97.291530
8   124.160648   89.947654   88.653446  100.920583
9   122.527762  102.494902   90.423746  105.148803
10  102.836486   90.729030  103.419225   98.994914
11  105.313021   97.417152   96.143035   99.624403
12   99.582738  115.129514  108.522012  107.744755
13  100.067526  105.980068  104.514770  103.520788
14  105.828003   93.230840   99.993937   99.684260
15   99.105009  103.343536   96.109645   99.519397
16  107.895363  101.556948  100.344053  103.265455
17   98.275846  113.010374  102.165064  104.483761
18  104.738358   97.518966  102.182576  101.479967
19   99.307212   94.832709   84.993326   93.044416
20   84.042210  101.337401   94.717019   93.365543

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [23]:
# seu código aqui
arr_df['log_med'] = np.log(arr_df['media'])
arr_df

            x1          x2          x3       media   log_med
1   100.529844  105.631744   98.081917  101.414502  4.619216
2   101.136333  109.870480   89.757683  100.254832  4.607715
3   114.403199  104.429194   81.965329  100.265907  4.607826
4    96.254102  101.240284   97.335175   98.276520  4.587785
5   108.558943  118.329452  113.352563  113.413653  4.731042
6   103.737092   94.921015   96.939864   98.532657  4.590388
7    96.559624   94.219490  101.095476   97.291530  4.577712
8   124.160648   89.947654   88.653446  100.920583  4.614334
9   122.527762  102.494902   90.423746  105.148803  4.655377
10  102.836486   90.729030  103.419225   98.994914  4.595068
11  105.313021   97.417152   96.143035   99.624403  4.601407
12   99.582738  115.129514  108.522012  107.744755  4.679765
13  100.067526  105.980068  104.514770  103.520788  4.639772
14  105.828003   93.230840   99.993937   99.684260  4.602008
15   99.105009  103.343536   96.109645   99.519397  4.600353
16  107.895363  101.556948  100.344053  103.265455  4.637303
17   98.275846  113.010374  102.165064  104.483761  4.649032
18  104.738358   97.518966  102.182576  101.479967  4.619861
19   99.307212   94.832709   84.993326   93.044416  4.533077
20   84.042210  101.337401   94.717019   93.365543  4.536522