# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime as dt
%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [9]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

In [3]:
sinasc_raw['GRAVIDEZ'].value_counts()

Única              26452
Dupla                492
Tríplice e mais        5
Name: GRAVIDEZ, dtype: int64

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [4]:
sinasc_1 = sinasc_raw[['munResNome','IDADEMAE', 'IDADEPAI']]
sinasc_1 = sinasc_1.dropna()
sinasc_1

                    munResNome  IDADEMAE  IDADEPAI
0        Alta Floresta D'Oeste        19      26.0
1        Alta Floresta D'Oeste        29      24.0
2        Alta Floresta D'Oeste        37      32.0
3      Alto Alegre dos Parecis        30      24.0
4        Alta Floresta D'Oeste        30      27.0
...                        ...       ...       ...
27021        Colorado do Oeste        25      38.0
27022                  Vilhena        34      33.0
27023                  Vilhena        32      35.0
27025                  Vilhena        24      30.0
27026                  Vilhena        21      24.0

[7607 rows x 3 columns]

In [5]:
gr_sinasc_1 = sinasc_1.groupby('munResNome')
gr_sinasc_1.mean()

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.892857  29.548701
Alto Alegre dos Parecis    24.679104  29.179104
Alto Paraíso               22.833333  28.833333
Alvorada D'Oeste           26.825243  30.757282
Ariquemes                  28.133333  32.466667
Buritis                    24.750000  30.812500
Cabixi                     32.166667  34.333333
Cacaulândia                31.000000  36.333333
Cacoal                     26.978605  30.931854
Campo Novo de Rondônia     24.900000  30.500000
Candeias do Jamari         23.684211  29.894737
Castanheiras               28.071429  30.392857
Cerejeiras                 28.361111  31.652778
Chupinguaia                26.888889  29.629630
Colorado do Oeste          31.161290  34.354839
Corumbiara                 29.000000  32.470588
Costa Marques              25.250000  30.613636
Cujubim                    27.400000  31.400000
Espigão D'Oeste            26.808176  31.198113
Governador Jorge Teixeira  25.555556  29.222222
Guajará-Mirim              26.058824  30.470588
Itapuã do Oeste            31.375000  42.500000
Jaru                       28.450704  32.197183
Ji-Paraná                  27.282819  31.132239
Machadinho D'Oeste         26.048077  31.326923
Ministro Andreazza         27.890411  33.849315
Mirante da Serra           26.928571  32.154762
Monte Negro                27.642857  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   27.104167  30.520833
Nova Mamoré                26.051282  31.692308
Nova União                 27.371429  31.371429
Novo Horizonte do Oeste    26.988235  31.588235
Ouro Preto do Oeste        27.109920  31.233244
Parecis                    26.973684  32.473684
Pimenta Bueno              25.449807  29.745174
Pimenteiras do Oeste       32.600000  35.600000
Porto Velho                28.355655  32.352679
Presidente Médici          26.170854  30.150754
Primavera de Rondônia      28.083333  31.888889
Rio Crespo                 26.000000  28.000000
Rolim de Moura             26.549701  30.360479
Santa Luzia D'Oeste        26.043956  30.703297
Seringueiras               25.058824  30.500000
São Felipe D'Oeste         26.979167  31.395833
São Francisco do Guaporé   26.944444  31.638889
São Miguel do Guaporé      27.469136  32.666667
Teixeirópolis              27.454545  31.500000
Theobroma                  24.916667  30.083333
Urupá                      27.116071  31.008929
Vale do Anari              27.133333  34.000000
Vale do Paraíso            25.604651  29.976744
Vilhena                    30.611765  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [6]:
sinasc_2 = sinasc_raw[['PESO','SEXO', 'DTNASC', 'ESCMAE' ]]
sinasc_2 = sinasc_2[sinasc_2['DTNASC'] == '2019-11-20']
sinasc_2

       PESO       SEXO      DTNASC           ESCMAE
14720  3425   Feminino  2019-11-20       4 a 7 anos
14721  3485   Feminino  2019-11-20       4 a 7 anos
14722  3590   Feminino  2019-11-20  12 anos ou mais
14738  2850   Feminino  2019-11-20  12 anos ou mais
14768  3195  Masculino  2019-11-20       4 a 7 anos
...     ...        ...         ...              ...
26475  3020   Feminino  2019-11-20      8 a 11 anos
26481  3770  Masculino  2019-11-20       4 a 7 anos
26741  3245  Masculino  2019-11-20  12 anos ou mais
26934  2950   Feminino  2019-11-20       4 a 7 anos
27021  3300   Feminino  2019-11-20  12 anos ou mais

[87 rows x 4 columns]

In [7]:
gr_sinasc_2 = sinasc_2.groupby(['ESCMAE', 'SEXO'])['PESO'].median()
gr_sinasc_2

ESCMAE           SEXO
1 a 3 anos       Feminino     2850.0
                 Masculino    3280.0
12 anos ou mais  Feminino     3037.5
                 Masculino    3480.0
4 a 7 anos       Feminino     2995.0
                 Masculino    3274.0
8 a 11 anos      Feminino     3230.0
                 Masculino    3277.5
Name: PESO, dtype: float64

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [8]:
sinasc_3 = sinasc_raw[['munResNome', 'GRAVIDEZ', 'IDADEMAE', 'IDADEPAI']]
troca = {'Única': 1, 'Dupla': 2, 'Tríplice e mais': 3 }
sinasc_3['GRAVIDEZ'] = sinasc_3['GRAVIDEZ'].map(troca)
sinasc_3['GRAVIDEZ'].value_counts()

C:\Users\dedaz\AppData\Local\Temp\ipykernel_4004\2660480494.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_3['GRAVIDEZ'] = sinasc_3['GRAVIDEZ'].map(troca)

1.0    26452
2.0      492
3.0        5
Name: GRAVIDEZ, dtype: int64

In [9]:
gr_sinasc_3 = sinasc_3.groupby('munResNome')
gr_sinasc_3['GRAVIDEZ'].sum().sort_values(ascending = True)

munResNome
Município ignorado - RO         1.0
Castanheiras                   32.0
Pimenteiras do Oeste           40.0
Primavera de Rondônia          46.0
Parecis                        46.0
Rio Crespo                     52.0
São Felipe D'Oeste             56.0
Teixeirópolis                  62.0
Cacaulândia                    75.0
Cabixi                         80.0
Vale do Paraíso                81.0
Ministro Andreazza             91.0
Vale do Anari                  94.0
Theobroma                      98.0
Novo Horizonte do Oeste        98.0
Santa Luzia D'Oeste            99.0
Nova União                    104.0
Itapuã do Oeste               108.0
Governador Jorge Teixeira     111.0
Corumbiara                    127.0
Alto Alegre dos Parecis       156.0
Chupinguaia                   162.0
Seringueiras                  170.0
Mirante da Serra              170.0
Campo Novo de Rondônia        172.0
Urupá                         172.0
Monte Negro                   202.0
Cujubim                       208.0
Alvorada D'Oeste              208.0
Colorado do Oeste             224.0
Alto Paraíso                  228.0
Costa Marques                 237.0
Cerejeiras                    240.0
Nova Brasilândia D'Oeste      265.0
São Francisco do Guaporé      306.0
Presidente Médici             306.0
Candeias do Jamari            343.0
São Miguel do Guaporé         359.0
Alta Floresta D'Oeste         371.0
Nova Mamoré                   442.0
Espigão D'Oeste               458.0
Machadinho D'Oeste            509.0
Buritis                       602.0
Pimenta Bueno                 619.0
Ouro Preto do Oeste           646.0
Guajará-Mirim                 789.0
Jaru                          896.0
Rolim de Moura                952.0
Cacoal                       1383.0
Vilhena                      1627.0
Ariquemes                    1742.0
Ji-Paraná                    2197.0
Porto Velho                  8589.0
Name: GRAVIDEZ, dtype: float64

In [10]:
sinasc_3[sinasc_3['munResNome'] == 'Castanheiras'].groupby('munResNome').agg(['min', np.median, 'max'])

             GRAVIDEZ             IDADEMAE            IDADEPAI
                  min median  max      min median max      min median   max
munResNome
Castanheiras      1.0    1.0  1.0       17   27.0  39     17.0   31.5  43.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [14]:
sinasc_raw['GRAVIDEZ'] = sinasc_3['GRAVIDEZ']
sinasc_raw['DTNASC'] =pd.to_datetime(sinasc_raw['DTNASC'])
mask = (sinasc_raw['DTNASC'] > '2019/03/01') & (sinasc_raw['DTNASC'] <= '2019/03/31')
marco = sinasc_raw.loc[mask]

In [21]:
sinasc_4 = sinasc_raw[['QTDFILVIVO','IDADEPAI','GRAVIDEZ', 'munResNome']]
sinasc_4['DTNASC'] = marco['DTNASC']
sinasc_4_marco = sinasc_4.dropna()

gr_sinasc_4_marco = sinasc_4_marco.groupby('munResNome')
gr_sinasc_4_marco['GRAVIDEZ'].sum().sort_values(ascending = False)

C:\Users\dedaz\AppData\Local\Temp\ipykernel_4004\1556466243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_4['DTNASC'] = marco['DTNASC']

munResNome
Cacoal                      120.0
Ji-Paraná                    93.0
Rolim de Moura               61.0
Pimenta Bueno                51.0
Porto Velho                  41.0
Ouro Preto do Oeste          39.0
Espigão D'Oeste              28.0
Alta Floresta D'Oeste        21.0
Vilhena                      17.0
Buritis                      15.0
Urupá                        13.0
Presidente Médici            13.0
Machadinho D'Oeste           13.0
Alvorada D'Oeste             10.0
Nova Mamoré                   9.0
Jaru                          9.0
Cerejeiras                    9.0
Alto Alegre dos Parecis       9.0
Santa Luzia D'Oeste           7.0
Monte Negro                   6.0
São Felipe D'Oeste            6.0
Ministro Andreazza            6.0
Vale do Paraíso               5.0
Parecis                       5.0
Novo Horizonte do Oeste       5.0
Chupinguaia                   5.0
Castanheiras                  4.0
Primavera de Rondônia         4.0
Nova União                    3.0
Vale do Anari                 3.0
Colorado do Oeste             3.0
Teixeirópolis                 3.0
São Miguel do Guaporé         3.0
Seringueiras                  3.0
Nova Brasilândia D'Oeste      3.0
Campo Novo de Rondônia        3.0
Alto Paraíso                  2.0
São Francisco do Guaporé      2.0
Ariquemes                     2.0
Theobroma                     2.0
Costa Marques                 2.0
Cujubim                       1.0
Corumbiara                    1.0
Candeias do Jamari            1.0
Itapuã do Oeste               1.0
Mirante da Serra              1.0
Name: GRAVIDEZ, dtype: float64

In [35]:
sinasc_4_qtfi = sinasc_4[['QTDFILVIVO','munResNome']]
sinasc_4_qtfi[sinasc_4_qtfi['munResNome']=='Cacoal'].groupby('munResNome').agg([('idade media', np.median), 'max', 'min'])

            QTDFILVIVO
           idade media  max  min
munResNome
Cacoal             1.0  7.0  0.0

In [36]:
sinasc_4_idapai = sinasc_4[['IDADEPAI', 'munResNome']]
sinasc_4_idapai[sinasc_4_idapai['munResNome']=='Cacoal'].groupby('munResNome').agg([('idade media', np.median), 'max', 'min'])

              IDADEPAI
           idade media   max   min
munResNome
Cacoal            30.0  66.0  17.0

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

In [6]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResUf       object
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
Length: 69, dtype: object

In [7]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

,ESCMAE,GESTACAO,GRAVIDEZ,PARTO,DTNASC,SEXO,RACACOR,DTCADASTRO,CODANOMAL,VERSAOSIST,DTRECEBIM,munResStatus,munResTipo,munResNome,munResUf
0,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-19,Masculino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
1,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-21,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-25,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
3,12 anos ou mais,37 a 41 semanas,Única,Cesáreo,2019-03-20,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia
4,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-03-23,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,12 anos ou mais,32 a 36 semanas,Única,Cesáreo,2019-12-13,Masculino,Branca,2020-09-28,NaN,3.2.01,2020-10-13,ATIVO,MUNIC,Vilhena,Rondônia
27024,8 a 11 anos,37 a 41 semanas,Única,Vaginal,2019-10-04,Masculino,Branca,2019-10-16,NaN,3.2.01,2019-10-21,ATIVO,MUNIC,Chupinguaia,Rondônia
27025,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-08-02,Masculino,Parda,2019-08-07,NaN,3.2.00,2019-08-07,ATIVO,MUNIC,Vilhena,Rondônia
27026,8 a 11 anos,32 a 36 semanas,Única,Vaginal,2019-12-23,Masculino,Parda,2020-01-07,NaN,3.2.00,2020-01-07,ATIVO,MUNIC,Vilhena,Rondônia
27027,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-12-27,Masculino,Parda,2020-10-15,NaN,3.2.01,2020-10-16,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia

In [4]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

In [38]:
sinasc_raw['CODANOMAL'].value_counts()

Q699        17
Q909         9
Q793         8
Q668         8
Q709         7
            ..
Q759         1
Q524         1
Q741         1
Q743         1
Q225Q250     1
Name: CODANOMAL, Length: 114, dtype: int64